@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.75px;
}

.main-page{
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.sidebar-segment{
  width: 24%;
  height: 100%;
}

.main-content-segment{
  width: 76%;
  height: 100%;
}

.sidebar-container{
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  border-radius: 1.5rem;
  padding: 10rem 1.5rem;
}

.menu-items-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start ;
  align-items: start;
  row-gap: 1.5rem;
}

a{
  text-decoration: none;
}

.menu-item{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.icon-container{
  width: fit-content;
  height: auto;
}

.menu-text-container{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.125rem;
}

.menu-text-container h1{
  font-size: 1rem;
  color: white;
}

.menu-text-container p{
  font-size: 0.8rem;
  color: #c4c4c4;
}

 .buttonsDesign{
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: auto;
  /* background-color: blue; */
 }

 .buttonsDesign button{
  width: 30%;
  height: auto;
  padding: 2rem 1rem 2rem 1rem;
  background-color: #ffffff;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
} 

/* .buttonsDesign {
  display: flex;
  gap: 1rem; /* Add spacing between buttons */


.buttonsDesign button.selected {
  background-color: #f8f8f8; /* Highlight background for selected button */
  color: rgb(0, 0, 0); /* White text for contrast */
  border: 1px solid #e3e3e3; /* Match border color */
}

.fiatBodyLayout_Inputfield{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: 6rem;
}

.fiatBodyLayout{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}

.filter-and-amount-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.filter-button-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  align-items: center; /* Ensure alignment consistency */
  padding: 1rem; /* Add spacing if needed */
  
}

.filterbutton{
  width: fit-content;
  height: auto;
  display: inline-flex;
  padding: 0.5rem;
  margin: 0;
  
}

.filter-button-and-icon{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Space starts from left */
  align-items: center; /* Center items vertically */
  gap: 0.5rem; /* Add spacing between children */
  background-color: #F8F8F8;
  outline: 1px solid #D7D7D7;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.filter-button-and-icon img {
  width: 24px; /* Adjust image size */
  height: 24px; /* Adjust image size */
  display: inline-block; /* Ensure image doesn't behave as block */
  margin: 0; /* Remove any default margin */
}

.amountTitle{
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.amountTitleCrypto{
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.amount-title-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: #FAFAFA;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  
}

.amount-title-container-sms{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #FAFAFA;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
}

.left-content{
  width: fit-content;
  height: auto;
}

.right-content{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.6rem;
}

.right-content h1{
  font-weight: 400;
  color: #00B600;
}

.right-content-b{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.6rem;
}

.right-content-b h1{
  font-weight: 400;
  color: #aa3dda;
}

.left-content h1{
  font-weight: 400;
  color: #565656;
}

.right-content select {
  padding: 0.5rem; /* Add padding inside the dropdown */
  font-size: 1rem; /* Adjust font size */
  border: 1px solid #ccc; /* Border around the dropdown */
  border-radius: 0.25rem; /* Rounded corners */
  background-color: #fafafa; /* Background color */
  color: #333; /* Text color */
  cursor: pointer; /* Pointer cursor for interactivity */
}

.right-content-b select{
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 0.25rem; 
  background-color: #fafafa; 
  color: #333; 
  cursor: pointer; 
}

.amount-list-and-report-container{
  width: 100%;
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start; */
  
}

.amount-lists{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
  padding: 2rem;
}

.amountListObject-list{
  width: 100%;
  height: auto;
}

.amount-list-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  background-color: #FDFDFD;
  padding: 1rem;
  border-left: 2px solid green;
}

.left-list-content{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.5rem;
}

.amount{
  color: #000000;
}

.payment-date{
  color: #868686;
}

.downloadreport{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.inputField-contaner{
  width: 100%;
  height: auto;
  padding: 1rem;
  
}

.inputField{
  width: 100%;
  height: auto;
  position: relative;
}

.inputField input{
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #FDFDFD;
  border-radius: 3rem;
  outline: none;
  border: none;
  border: 1px solid #C5C5C5;
  font-size: 1.2rem;
}

.send-icon{
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translate(-60%);
  background: none;
  border: none;
  cursor: pointer;
}

.settings-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.cardLayout{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-left: 1px solid #868686;
  padding: 1.5rem;
  background-color: #fdfdfd;
}